.wrapper{
    display:grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
        "header header header"
        "aside main main"
        "aside main main"
}
.header{
    grid-area:header;
    background-color: rgb(87, 29, 29);
    border: 1px solid;
    
}
.sidemenu{
    grid-area:aside;
    background-color: #f1f1f1;
    border: 1px solid;
}
.content{
    grid-area:main;
    border: 1px solid;
}